---
import { EXPERIENCES } from "@/consts/experiences";
import { Image } from "astro:assets";
const colorVariants: any = {
  red:"border-[#e62922]",
  green: "border-[#5dc252]",
  blue: "border-[#1991da]",
  white: "border-white",
};
const icons: any = {
  svelte:"icon-[lineicons--svelte]",
  laravel:"icon-[meteor-icons--laravel]",
  mssql: "icon-[devicon--microsoftsqlserver-wordmark]",
  react: "icon-[material-icon-theme--react]",
  nodejs: "icon-[material-icon-theme--nodejs]",
  javascript: "icon-[material-icon-theme--javascript]",
  wordpress: "icon-[mdi--wordpress]",
  html: "icon-[material-icon-theme--html]",
  css: "icon-[material-icon-theme--css]",
  bootstrap: "icon-[logos--bootstrap]",
  expressjs: "icon-[lineicons--expressjs]",
  tailwind:"icon-[ri--tailwind-css-fill]",
   php: "icon-[fa6-brands--php]",
};
---

<section
  id="experience"
  aria-labelledby="exp-title"
  
  class="section relative secc-experience bg-primary dark:bg-dark min-h-screen py-10 cursor-default"
>
  <div class="container mx-auto py-7 px-5 flex flex-col gap-8 md:p-10">
    <h2
    tabindex="0"
      id="exp-title"
      class="section-title text-dark dark:text-primary uppercase text-center md:text-left pb-7"
    >
      Experiencia <span aria-hidden="true">/</span>
    </h2>

    <ul class="grid grid-cols-1 md:grid-cols-2 gap-7">
      {
        EXPERIENCES.map((experience, i) => (
          <li class="experience-card bg-light dark:bg-dark-light shadow-lg p-5 rounded-lg relative" tabindex="0">
            <div
              class={`experience-image shadow-xl bg-light absolute inset-y-2 -left-3 rounded-full overflow-hidden border-3 ${colorVariants[experience.color]} w-12 h-12`}
            >
              <Image
                src={experience.image}
                alt={`Imagen de ${experience.company}`}
                width={60}
                height={60}
                class="w-full h-full object-cover "
                loading={"lazy"}
                decoding={"async"}
              />
            </div>
            <div class="experience-content pl-8">
              <h3 class="text-xl font-bold text-dark dark:text-light">
                {experience.title}
              </h3>
              <p class="text-gray-700 dark:text-primary">
                {experience.company}
              </p>
              <div class="flex flex-row items-center gap-2 text-gray-700 dark:text-gray-300">
                <span
                  class="icon-[ci--location]"
                  role="img"
                  aria-hidden="true"
                />
                <p class="italic">{experience.location}</p>
              </div>
              <div class="flex flex-row items-center gap-2 text-gray-700 dark:text-gray-300 ">
                <span class="icon-[uiw--date]" role="img" aria-hidden="true" />
                <p class="">{`${experience.start} - ${experience.end ?? "ACTUALIDAD"}`}</p>
              </div>
              <p class="mt-2 dark:text-light">{experience.description}</p>
              <p class="sr-only">Tecnologías utilizadas</p>
              <ul  class="flex flex-row flex-wrap gap-2 gap-y-2 pt-5 ">
                {experience.techStack.map((tech: any) => (
                  <li class="flex flex-row items-center gap-1 border-1 p-1 w-auto shadow-sm text-gray-700 dark:text-gray-300 rounded-md ">
                    <span
                      class={`${icons[tech.name]} text-md`}
                      role="img"
                      aria-hidden="true"
                    />
                    <p class="">{tech.name}</p>
                  </li>
                ))}
              </ul>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
