---
const socials = [
  {
    id: "footer-cv-icon",
    title: "CV",
    link: "/documents/CV-ViktorGonzalez-2025.pdf",
    download: "cv_viktorgonzalez.pdf",
    icon: "icon-[tabler--file-cv-filled]",
  },
  {
    id: "footer-linkedin-icon",
    title: "LinkedIn",
    link: "https://www.linkedin.com/in/viktorgonzalezp/",
    icon: "icon-[mdi--linkedin]",
  },
  {
    id: "footer-github-icon",
    title: "Github",
    link: "https://github.com/viktorgp98",
    icon: "icon-[ph--github-logo-duotone]",
  },
];
---

<footer
  class="relative max-w-screen container mx-auto w-full p-10 bg-grey border-bd-color border-t-1 h-[200px] flex flex-row justify-between items-center px-10 text-white"
>
  <div class="footer-content">
    <p class="text-white">Desarrollado 💻 por Viktor Gonzalez P.</p>
  </div>
  <div class="social-links">
    {
      socials.map((social) => {
        return (
          <a href={social.link} download={social.download} target="_blank">
            <span
              class={`${social.icon} text-primary w-6 h-6 px-10`}
              role="img"
              aria-hidden="true"
              id={social.id}
            />
            <label for={social.id} class="cursor-pointer">
              {social.title}
            </label>
          </a>
        );
      })
    }
  </div>
</footer>
