---
const socials = [
  {
    id: "footer-cv-icon",
    title: "CV",
    link: "/documents/CV-ViktorGonzalez-2025.pdf",
    download: "cv_viktorgonzalez.pdf",
    icon: "icon-[pepicons-print--cv]",
  },
  {
    id: "footer-linkedin-icon",
    title: "LinkedIn",
    link: "https://www.linkedin.com/in/viktorgonzalezp/",
    icon: "icon-[mdi--linkedin]",
  },
  {
    id: "footer-github-icon",
    title: "Github",
    link: "https://github.com/viktorgp98",
    icon: "icon-[ph--github-logo-duotone]",
  },
];

const techs = [
  {
    id: "tailwind",
    icon: "icon-[ri--tailwind-css-fill]",
  },
  {
    id: "astro",
    icon: "icon-[lineicons--astro]",
  },
];
---

<footer class="w-full bg-dark border-t-1 border-light text-white">
  <div
    class="container mx-auto w-full items-center py-15 flex flex-col gap-7 lg:gap-40 xl:gap-60 lg:flex-row space-y-4 md:space-y-0 relative lg:p-20"
  >
    <div class="footer-content w-auto">
      <p class="text-white">Desarrollado 💻 por Viktor Gonzalez P.</p>
    </div>
    <div
      class="social-links items-center flex flex-row gap-4 md:gap-x-6 lg:gap-x-5"
    >
      {
        socials.map((social) => {
          return (
            <a
              class=" flex flex-row items-center justify-center"
              href={social.link}
              download={social.download}
              target="_blank"
            >
              <span
                class={`${social.icon} text-primary w-auto h-6 px-5`}
                role="img"
                aria-hidden="true"
                id={social.id}
              />
              <span class="cursor-pointer">{social.title}</span>
            </a>
          );
        })
      }
    </div>
    <div class="tech lg:flex flex-row gap-x-2 hidden">
      <p>Construido con:</p>
      <div class="flex flex-row gap-3 items-center">
        {
          techs.map((tech) => {
            return (
              <span
                class={`${tech.icon} w-6 h-6 text-primary`}
                role="img"
                aria-hidden="true"
              />
            );
          })
        }
      </div>
    </div>
  </div>
</footer>
