---
import GradientText from "@/components/gradientText/GradientText.jsx";
import { HoverButton } from "@/components/button/HoverButton.jsx";

const sites = [
  {
    link: "/documents/CV-ViktorGonzalez-2025.pdf",
    title: "CV",
    icon: "icon-[ph--read-cv-logo-duotone]",
    download: "cv_viktorgonzalez.pdf",
  },

  {
    link: "https://www.linkedin.com/in/viktorgonzalezp/",
    title: "LinkedIn",
    icon: "icon-[ph--linkedin-logo-duotone]",
  },
  {
    link: "https://github.com/viktorgp98",
    title: "Github",
    icon: "icon-[ph--github-logo-duotone]",
  },
];
---

<section class="secc-hero relative h-screen">
  <div
    class="absolute inset-0 bg-cover bg-center bg-fixed bg-no-repeat flex justify-center items-center bg-grey"
    style="background-image: url('/images/banner.webp');"
  >
    <div class="relative z-10 text-white">
      <div class="flex flex-col items-center justify-center margin-xl">
        <h4 class="text-4xl margin-l">Desarrollador Full Stack Junior</h4>
        <GradientText
          colors={["#f26bb5", "#5d5f8c", "#f26bb5", "#5d5f8c"]}
          animationSpeed={7.5}
          showBorder={false}
        >
          <h1>VIKTOR GONZÁLEZ PINTO</h1>
        </GradientText>

        <h5 class="margin-xl text-2xl mb-10">
          Apasionado por la Innovación Web
        </h5>
      </div>
      <!-- enlaces  -->
      <div
        class="call-to-action flex flex-row gap-x-5 items-center justify-center margin-xl"
      >
        <HoverButton>
          <a href="#projects" onclick="lenis.scrollTo('#contact')">
            Ver proyectos
          </a>
        </HoverButton>
        <a
          href="#contact"
          onclick="lenis.scrollTo('#contact')"
          class="justify-center whitespace-nowrap
          rounded-md text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring
          focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0
          border border-input bg-background h-10 px-4 py-2 group transition-all duration-200 hover:scale-105 hover:bg-primary hover:text-primary-foreground
          flex items-center gap-2"
        >
          <span class="flex items-center gap-2">
            Contacto
            <span
              class="icon-[carbon--send] h-4 w-4 transition-transform duration-100 group-hover:translate-x-1"
              role="img"
              aria-hidden="true"></span>
          </span>
        </a>
      </div>
      <div
        class="social-links flex flex-row gap-x-5 items-center justify-center margin-3xl"
      >
        {
          sites.map((site) => (
            <a href={site.link} download={site.download} target="_blank">
              <title>{site.title}</title>
              <span
                class={`${site.icon} text-primary icon-size px-10 hover:scale-125 hover:bg-primary transition-all duration-200`}
                role="img"
                aria-hidden="true"
              />
            </a>
          ))
        }
      </div>
      <div
        class="absolute inset-x-0 bottom-0 top-150 flex flex-row gap-x-5 items-center justify-center pt-10"
      >
        <a href="#skills" onclick="lenis.scrollTo('#skills')">
          <span
            class="icon-[ph--arrow-circle-down-duotone] w-10 h-10 animate-[sink_1s_ease-in-out_infinite]"
            role="img"
            aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</section>
