---
import { Image } from "astro:assets";
const {
  id,
  title = "Underconstruction",
  image,
  description = "Proyecto en construcción",
  techstack,
} = Astro.props;
---

<div class="bg-gray-100 flex h-full w-full client:only">
  <div class="relative group h-full w-full">
    {/* Project Image */}
    <div class="relative overflow-hidden h-full w-full">
      <Image
        src={image}
        alt={`Imagen del proyecto ${title}`}
        inferSize={true}
        data-id={id}
        class="project-image w-full h-full object-cover transform transition-transform duration-400 group-hover:scale-110 grayscale group-hover:grayscale-0"
      />

      {/* Mobile Info Button */}
      <button
        class="btn-info absolute flex top-3 right-3 z-10 p-2 bg-black/50 rounded-full w-8 h-8 items-center justify-center text-white md:hidden cursor-pointer"
        data-id={id}
      >
        <span class="icon-[lucide--info]" role="img" aria-hidden="true"></span>
      </button>

      {/* Hover Card */}
      <div
        class={`project-card absolute inset-0 bg-gradient-to-t
        from-black/80 via-black/50 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300
        flex flex-col justify-end p-6`}
        data-id={id}
      >
        <h3 class="text-white text-2xl font-bold mb-2">
          {title}
        </h3>
        <p class="text-gray-200 text-sm mb-4">
          {description}
        </p>

        {/* Tech Stack */}
        <div class="flex gap-2 mb-4">
          {
            techstack ? (
              techstack.map((tech: any) => (
                <span class="px-3 py-1 bg-white/20 rounded-full text-white text-xs">
                  {tech}
                </span>
              ))
            ) : (
              <span class="px-3 py-1 bg-white/20 rounded-full text-white text-xs">
                Pronto...
              </span>
            )
          }
        </div>

        {/* Links */}
        <div class="flex gap-4">
          <a
            href="/"
            class="text-white hover:text-primary transition-colors duration-200 flex items-center gap-1"
          >
            <span
              class="icon-[mdi--github] w-6 h-6"
              role="img"
              aria-hidden="true"></span>
            Código
          </a>
          <a
            href="/"
            class="text-white hover:text-primary transition-colors duration-200 flex items-center gap-1"
          >
            <span
              class="icon-[gg--external] w-7 h-7"
              role="img"
              aria-hidden="true"></span>
            Demo
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".btn-info").forEach((btn) => {
      btn.addEventListener("click", () => {
        const id = (btn as HTMLElement).dataset.id;

        document.querySelectorAll(".project-card").forEach((card) => {
          card.classList.add("opacity-0");
          card.classList.remove("opacity-100");
        });

        document.querySelectorAll(".project-image").forEach((image) => {
          image.classList.add("grayscale");
          image.classList.remove("grayscale-0");
        });

        const card = document.querySelector(`.project-card[data-id="${id}"]`);
        const image = document.querySelector(`.project-image[data-id="${id}"]`);

        if (card && image) {
          card.classList.toggle("opacity-0");
          card.classList.toggle("opacity-100");

          image.classList.toggle("grayscale");
          image.classList.toggle("grayscale-0");
        }
      });
    });
  });
</script>
