---
import { TECHS } from "@/consts/tech.ts";

const icons: any = {
  php: "icon-[fa6-brands--php] group-hover:icon-[devicon--php] group-hover:w-6 group-hover:h-6",
  react: "icon-[lineicons--react] group-hover:text-[#58C4DC]",
  javascript: "icon-[lineicons--javascript] group-hover:text-[#F0DB4F]",
  html: "icon-[logos--html-5]",
  css: "icon-[lineicons--css3] group-hover:text-[#0277bd]",
  tailwind:
    "icon-[ri--tailwind-css-fill] group-hover:icon-[devicon--tailwindcss] group-hover:w-6 group-hover:h-6",
  bootstrap: "icon-[logos--bootstrap]",
  nodejs:
    "icon-[lineicons--nodejs-alt] group-hover:icon-[devicon--nodejs] group-hover:w-6 group-hover:h-6",
  astro:
    "icon-[lineicons--astro] group-hover:icon-[devicon--astro] group-hover:w-6 group-hover:h-6",

  expressjs: "icon-[lineicons--expressjs]",
  wordpress: "icon-[mdi--wordpress] group-hover:text-[#0073AA]",
  mssql:
    "icon-[devicon-plain--microsoftsqlserver-wordmark] group-hover:text-[#a91d22]",
  python:
    "icon-[lineicons--python] group-hover:icon-[material-icon-theme--python] group-hover:w-6 group-hover:h-6",
  firebase:
    "icon-[lineicons--firebase] group-hover:w-6 group-hover:h-6 group-hover:icon-[devicon--firebase]",
  mysql:
    "icon-[lineicons--mysql] gruop-hover:icon-[devicon--mysql] group-hover:w-6 group-hover:h-6",
  git: "icon-[lineicons--git] group-hover:text-[#F34F29]",
};
---

<section
  id="skills"
  class="section secc-skills bg-primary-light dark:bg-dark-light min-h-auto relative"
>
  <div
    class="container mx-auto px-5 md:p-10 md:py-20 z-20 py-15 flex flex-col gap-8"
  >
    <h2
      class="section-title uppercase dark:text-light text-center md:text-left cursor-pointer"
    >
      Habilidades /
    </h2>
    <div
      class="py-7 lg:py-10 flex-col flex gap-10 lg:grid lg:grid-cols-3 w-auto mx-auto space-x-5"
    >
      {
        TECHS.map((category) => (
          <div class="flex flex-col  gap-1">
            <h3 class="  capitalize dark:text-primary font-bold">
              {category.name}:
            </h3>
            <div class="flex flex-row flex-wrap gap-2 ">
              {category.techs.map((tech) => {
                return (
                  <div
                    class="group cursor-pointer hover:scale-105 transition-all duration-200 ease-in-out
             flex flex-row  items-center gap-1 border-1 border-dark dark:border-gray-400 lg:w-30 justify-center h-auto 
             p-2 shadow-md dark:text-light dark:bg-dark-light bg-light rounded-md"
                    data-id={tech.id}
                  >
                    <span
                      class={`w-6 h-6 ${icons[tech.id]}`}
                      role="img"
                      aria-hidden="true"
                    />
                    <p class="text-center">{tech.name}</p>
                  </div>
                );
              })}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const techItems = document.querySelectorAll("[data-id]");
    let activeId: any = null;

    techItems.forEach((item) => {
      item.addEventListener("click", () => {
        const id = (item as HTMLElement).dataset.id;

        if (activeId && activeId !== id) {
          const prevActive = document.querySelector(`[data-id='${activeId}']`);
          prevActive?.classList.remove("hover-sim");
        }

        if (activeId === id) {
          item.classList.remove("hover-sim");
          activeId = null;
        } else {
          item.classList.add("hover-sim");
          activeId = id;

          setTimeout(() => {
            item.classList.remove("hover-sim");
            if (activeId === id) activeId = null;
          }, 1000);
        }
      });
    });
  });
</script>
